@import "../../variables";

.chat {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    height: 100vh;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 100px 20px;
    overflow-y: scroll;
}

form {
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 100%;
    background: $lightBlack;

    .input {
        width: 100%;
    }
}